* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .score {
    display: flex;
    gap: 60px; 
  }

  #gameboard {
    width: 900px;
    height: 500px;
    border: 2px solid;
    background-image: url("./assets/image.png");
    // background-image: url("./assets/newbg.gif");
    background-repeat: no-repeat;
    background-size:900px 500px;
    overflow: hidden;

    #character {
      height: 120px;
      width: 80px;
      position: relative;
      top: 380px;

      img {
        height: 120px;
        width: 80px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }

    .animate {
      animation: characterjump 700ms linear;
    }

    @keyframes characterjump {
      0% {
        top: 380px;
      }
      50% {
        top: 180px;
      }
      70% {
        top: 180px;
      }
      100% {
        top: 380px;
      }
    }

    #block {
      height: 90px;
      width: 80px;
      position: relative;
      top: 290px;
      left: 820px;

      img {
        height: 100px;
        width: 80px;
      }
    }

    .animateblock {
      animation: blockanimation 2s infinite linear;
    }

    @keyframes blockanimation {
      0% {
        left: 820px;
      }
      100% {
        left: -80px;
      }
    }
  }

  .error {
    position: absolute;
    background:black;

    h2 {
      font-size: 30px;
      color: red;
    }
  }
}
